.recent {
  padding: 1rem 1rem 1rem 2.5rem;
}

.mainPostersDiv {
  background-color: #ebeeef;
  padding: 0rem 0.5rem 1.5rem 0.5rem;
  margin: 3rem 1.5rem 1rem 1.5rem;
  border-radius: 6px;
}

.title1 {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 47, 52, 1);
}
.cardRow {
  display: flex;
  justify-content: space-evenly;
}
